.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* header related styles */
/* nav related styles */
.header nav {
    display: flex;
    margin: 0px 150px;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
}

.nav-title {
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
}

.nav-btn {
    border-radius: 8px;
    padding: 17px 24px;
}

/* header banner related styles */
.banner {
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
}

.banner-container {
    padding: 26px 221px 45px;
}

.banner-title {
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    margin: 32px 0px 24px 0px;
}


.contact-btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #0D1321;
    padding: 21px 24px;
    margin-top: 32px;
}

/* header section done  */


/* common styles */
.common-btn {
    background-color: white;
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #0D1321;
    opacity: 0.7;
    padding: 12px 20px;

}

.common-title {
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.common-description {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 0px;
}

.goal-title {
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.common-margin {
    margin-bottom: 32px;
}

/* main section related styles started  */
main {
    max-width: 1140px;
    margin: 74px auto;
}

/* why web section styles */
.future-goals {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
}

.goal1,
.goal3 {
    display: flex;
    gap: 98px;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    padding: 48px;
}

.goal2 {
    display: flex;
    border-radius: 16px;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    padding: 48px 120px 48px 48px;
    gap: 32px;
}

/* my inspiration related styles */
.my-inspiration{
    margin-top: 90px;
}
.my-inspiration p{
    margin: 0px 144px;
}
.video-container {
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
    padding: 32px;
    margin-top: 48px;
}
.video{
    border-radius: 16px;
}